/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
  margin: 0;
  padding: 0;
}

/* Reiknum stærð á öllum boxum sem border-box */
html {
  box-sizing: border-box;
}
/* og látum erfast á allt */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* hjálpar class sem felur sjónrænt en skjálesarar lesa */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Stillingar */

:root {
  --font-size-base: 1rem;
  --font-size-headings: 1.5rem;

  /* Grunn bilið okkar er 1rem == 16px */
  --spacing: 1rem;

  /* Bil á milli „stærri“ eininga (header, efnisbox, footer) */
  --vertical-space: calc(var(--gutter) * 1);
  --vertical-space-large: calc(var(--gutter) * 1.5);

  /* Hámarks og lágmarks breidd á efni */
  --max-width: 1200px;
  --min-width-image: 200px;
  --max-width-image: 300px;
  --max-width-footer-section: 250px;

  /* Border breiddir */
  --border-width: 1px;
  --border-radius-regular: 5px;
  --border-radius-image: 10px;
  --border-regular: 1px solid; /* todo longhand */
  --border-with-background: 4px solid;

  /* Grid stillingar */
  --columns: 12;
  --gutter: 30px;
  --offset: 20px;

  /* Breidd á efni með offset */
  --width-offset: calc(100% - (2 * var(--offset)));

  /* Litir */
  /** Litir með nafni **/
  --color-beige: #e3cdb1;
  --color-cream: #f7f1eb;
  --color-black: #000000;
  --color-dark-grey: #262626;
  --color-grey: #5e5b69;
  --color-mid-grey: #9b9b9b;
  --color-light-grey: #eeeeee;
  --color-off-white: #fafafa;
  --color-white: #ffffff;

  /** Litir með notkun **/
  --color-background-primary: var(--color-white);
  --color-background-secondary: var(--color-off-white);
  --color-background-form: var(--color-black);

  /* Letur stillingar */
  --font-base-size: 1rem;
  --font-size-headings: 3rem;
  --font-family-base: "Poppins", Arial, Helvetica, sans-serif;
  --font-family-heading: "Playfair Display", "Comic Sans MS", cursive;

  /* Transitions */
  --transition-time-short: 300ms;
  --transition-time-long: 600ms;
  --transition-timing-function: ease-in-out;
}

/* Almennt */

/** Letur og stærðir **/

html {
  background-color: var(--color-background-primary);
  font-size: var(--font-size-base);
}

/*** Leturgerðir sem við sækjum úr fonts/ möppu ***/
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./fonts/Poppins/Poppins-Regular.ttf") format("woff2");
}

@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("./fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf")
    format("woff2");
}

/*** Allt meginmál notar poppins ***/
html,
input,
select,
button {
  font-family: var(--font-family-base);
}

/*** Allar fyrirsagnir nota Matemasie regular ***/
h1,
h2,
h3,
legend {
  font-family: var(--font-family-heading);
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 22px;
}

.heading p {
  color: var(--color-beige);
  font-weight: 500;
}

.heading ul {
  display: flex;
  list-style: none;
}

.heading ul li {
  margin-right: var(--spacing);
  display: flex;
  align-items: center;
}

.heading ul li img {
  margin-right: var(--spacing);
}

.heading ul li p {
  color: var(--color-mid-grey);
}

.heading ul li p b {
  color: var(--color-black);
}

@media (width < 768px) {
  .heading {
    justify-items: center;
  }

  .heading ul {
    flex-direction: column;
  }
}

/** Lætur myndir aldrei taka meira pláss en foreldri skilgreinir **/
img {
  max-width: 100%;
}

/** Litur á hlekkjum erfist frá foreldri **/
a {
  color: inherit;
  text-decoration: none;
}

/** Listar erru aldrei með style **/
li {
  list-style: none;
}

/** Almennt takka útlit, getur virkað á bæði <a> og <button> **/
.button {
  display: inline-block;
  padding: calc(var(--spacing) * 0.5) var(--spacing);
  border: var(--border-regular);
  border-width: var(--border-width);
  color: var(--color-beige);
  background-color: transparent;
  font-size: 1rem;
  text-decoration: none;
  transition: background-color var(--transition-time-short)
      var(--transition-timing-function),
    color var(--transition-time-short) var(--transition-timing-function),
    border-color var(--transition-time-short) var(--transition-timing-function);
  padding-left: var(--spacing);
  padding-right: var(--spacing);
}

.button:hover {
  color: var(--color-background-primary);
  background-color: var(--color-beige);
  border-color: var(--color-beige);
}

.button-container {
  display: flex;
  align-items: center;
}

.line {
  flex: 1;
  height: 1px;
  background-color: var(--color-beige);
  margin: 0 10px;
}

/* Fade in animation */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.wrapper {
  animation: var(--transition-time-long) var(--transition-timing-function)
    fade-in;
}

/** Undirtitlar eru alltaf beige **/
.subtitle {
  font-weight: 500;
  color: var(--color-beige);
}

.wrapper {
  /* Notum grid hér til að setja upp bil á milli header, meginmáls og fóts */
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  /* grid items eru miðjuð */
  justify-items: center;
  gap: var(--vertical-space);
  width: 100%;
  min-height: 100vh;
}

.wrapper .wrapper-content {
  width: var(--width-offset);
  max-width: var(--max-width);
  gap: var(--gutter);
}

.wrapper-main {
  justify-items: center;
}

.wrapper-main section {
  padding: calc(var(--spacing) * 2);
}

/** Navigation **/
.wrapper .wrapper-nav {
  position: sticky;
  top: 0;
  margin-bottom: var(--spacing);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-white);
  z-index: 99999;
}

.wrapper-nav .nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  color: var(--color-dark-grey);
}

.nav-link:hover {
  color: var(--color-mid-grey);
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 20px;
  height: 1px;
  margin: 5px auto;
  -webkit-transition: all var(--transition-time-short)
    var(--transition-timing-function);
  transition: all var(--transition-time-short) var(--transition-timing-function);
  background-color: var(--color-black);
}

@media (width < 768px) {
  .wrapper-nav {
    position: relative;
  }

  .nav-menu {
    position: absolute;
    z-index: 999;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: var(--color-white);
    width: 100%;
    text-align: center;
    transition: var(--transition-time-short);
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .nav-link {
    font-family: var(--font-family-heading);
    font-size: var(--font-size-headings);
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/** Fótur **/
footer {
  display: flex;
  justify-items: center;
  justify-content: center;
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
  border-top: 2px solid var(--color-light-grey);
  width: 100%;
  text-align: center;
}

footer > .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--vertical-space);
}

footer ul {
  display: flex;
  justify-content: center;
  gap: var(--vertical-space);
}

footer > .subtitle {
  font-weight: 300;
}

/** Newsletter **/
.newsletter-section {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: row;
  width: 100vw;
  padding-top: calc(var(--spacing) * 5);
  padding-bottom: calc(var(--spacing) * 5);
  background-color: var(--color-black);
}

.newsletter-section h2 {
  color: var(--color-white);
}

.newsletter-section form {
  display: flex;
  gap: var(--spacing);
}

.newsletter-section fieldset {
  display: flex;
  gap: var(--vertical-space);
  align-items: center;
  border: none;
}

.newsletter-section .button:hover {
  color: var(--color-black);
}

.newsletter-section .content {
  display: flex;
  flex-direction: column;
}

.newsletter-section label {
  color: var(--color-white);
  margin-bottom: 5px;
  font-size: small;
}

.newsletter-section input[type="email"] {
  border: none;
  border-bottom: 1px solid var(--color-beige);
  color: var(--text-color-white);
  font-family: var(--font-family-heading);
  background-color: var(--transparent);
}

.newsletter-section input[type="email"]:blank {
  border: none;
  color: var(--color-dark-grey);
}

@media (width < 768px) {
  .newsletter-section form {
    flex-direction: column;
  }

  .newsletter-section fieldset {
    flex-direction: column;
  }
}

/** Cards **/
.cards {
  display: grid;
  grid-template-rows: auto;
  gap: var(--vertical-space);
  justify-items: center;
  width: 100%;
}

.cards > .heading {
  width: 100%;
  text-align: center;
}

.cards > .content {
  display: grid;
  grid-template-rows: auto;
  gap: var(--vertical-space);
  justify-items: center;
  width: 100%;
}

@media (width >= 700px) {
  .cards > .content {
    grid-template-columns: repeat(calc(var(--columns)), 1fr);
    grid-template-rows: auto;
  }
}

/** Card **/
.card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (width >= 700px) {
  .card {
    grid-column: span 4;
  }
}
.card > .image {
  width: 100%;
}

.card > .image img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 50% 50%;
}

.card > .content {
  display: flex;
  gap: var(--spacing);
  padding: calc(var(--spacing) / 2);
  background-color: var(--color-white);
  justify-content: space-between;
}

.card .actions {
  display: flex;
  gap: var(--spacing);
  margin-top: var(--spacing);
}

.card .button {
  border: none;
}

/** Latest recipes and videos sections **/
.latest-recipe-section {
  background: linear-gradient(
    to bottom,
    transparent 50%,
    var(--color-off-white) 50%
  );
  display: flex;
  flex-direction: column;
}

.latest-recipe-section > .heading > .main-title {
  display: flex;
  gap: var(--spacing);
  color: var(--color-mid-grey);
}

.latest-recipe-section > .heading > .main-title > .focus {
  color: var(--color-black);
}

.latest-recipe-section .image {
  position: relative;
}

.video-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: var(--transition-time-long) ease;
  background-color: rgba(247, 241, 235, 0.5);
}

.triangle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-left: 50px solid var(--color-white);
  border-bottom: 25px solid transparent;
}

.image:hover .video-overlay {
  opacity: 100%;
}

/** Book section **/
.book-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--spacing);
  background-color: var(--color-cream);
  height: 100%;
}

.book-section > .content {
  width: 50%;
  gap: var(--spacing);
  flex-direction: column;
}

.foreground-image {
  max-width: var(--max-width-image);
}

.foreground-image .shadow {
  box-shadow: 5px 5px 10px 2px rgb(0 0 0 / 0.8);
}

@media (width < 768px) {
  .book-section {
    flex-direction: column;
    align-items: center;
  }

  .book-section .foreground-image {
    justify-content: center;
  }
}

/** Hero section **/
.hero-section {
  height: 800px;
  position: relative;
  width: 100vw;
}

.video-hero {
  height: 650px;
  background-color: var(--color-black);
}

.video-hero .background-image {
  height: 100%;
}

.video-hero .background-image .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gradient {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

.video-hero h1,
b {
  color: var(--color-white);
}

.video-hero .background-image img {
  height: 100%;
}

.hero-section .content {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: calc(var(--width-offset) / 4);
  text-align: left;
  z-index: 1;
}

.hero-section .content p {
  color: var(--color-mid-grey);
}

.background-image {
  position: absolute;
  object-fit: cover;
  z-index: 0;
  width: 50%;
  right: 0;
  bottom: 0;
}

@media (width < 768px) {
  .hero-section .text {
    display: none;
  }

  .hero-section .background-image {
    position: relative;
    width: 100%;
    height: auto;
    bottom: 0;
    left: auto;
    transform: none;
  }
}

.content {
  display: flex;
  justify-content: space-between;
}

@media (width < 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }
}

.video-hero .background-image {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent);
}

/** Recipe and video recipe **/

.recipe-container {
  display: grid;
  grid-template-columns: repeat(calc(var(--columns)), 1fr);
  grid-template-rows: auto;
}

.recipe-container h2 {
  color: var(--color-mid-grey);
}

.ingredients-section {
  grid-column: span 4;
  gap: var(--spacing);
}

.ingredients-section > div {
  margin-bottom: var(--vertical-space);
}

.ingredients-section li {
  display: flex;
  gap: calc(var(--spacing) * 3);
}

.ingredients-section b {
  font-weight: 700;
  margin-bottom: var(--spacing);
}

.ingredients-section li p {
  color: var(--color-grey);
}

.ingredients-section li h3 {
  color: var(--color-beige);
}

.method-section {
  grid-column: span 8;
}

.method-section p {
  margin-bottom: var(--spacing);
}

.method-section h2 {
  margin-bottom: var(--vertical-space);
}

@media (width < 768px) {
  .ingredients-section {
    grid-column: span 12;
  }
  .method-section {
    grid-column: span 12;
  }
}
