.heading {
  @media (width < 768px) {
    justify-items: center;
  }
  p {
    color: var(--color-beige);
    font-weight: 500;
  }
  ul {
    @media (width < 768px) {
      flex-direction: column;
    }
    display: flex;
    list-style: none;
    li {
      margin-right: var(--spacing);
      display: flex;
      align-items: center;
      img {
        margin-right: var(--spacing);
      }

      p {
        color: var(--color-mid-grey);
        b {
          color: var(--color-black);
        }
      }
    }
  }
}

/** Undirtitlar eru alltaf beige **/
.subtitle {
  font-weight: 500;
  color: var(--color-beige);
}
